{% extends 'layout.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block main %}
    <h1 class="h1">Accueil</h1>
    <h2 class="text-danger">What to do before dying ?</h2>
    <p>{{ wishesCount }} total ideas</p>
    <h3>The last 5 ideas</h3>
    {% for wish in wishes %}
        <article>
            <h4><a href="{{ path('wish_detail', {'id':wish.id}) }}">{{ wish.label }}</a></h4>
            <p>{{ wish.dateCreated|date("d/m/Y à H:i") }}</p>
        </article>
    {% endfor %}
{% endblock %}